<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/images/icons/cpu.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Dashboard</title>
</head>
<body>
    <div id="user-info">
        <span><%=user.name%></span>
        <a href="/users/logout" class="w3-bar-item w3-button">
            <img src="../images/icons/log-out.svg" alt="Déconnexion"/>
        </a>
    </div>
        <br></br>
    <a href="/editeur">
        <button class="btn" style="font-size: 28px;">Ouvrir l'éditeur
        </button>
    </a>
        <br></br>
    <h1>Bonjour <%= user.prenom %></h1>
    <br>
    <h2>Projets</h2>
    <% if(user.projets!=null){ %>
        <ul>
        <% for(const projet of user.projets){ %>
            <li>
                <a href="/editeur/"+<%= projet.id %> ><%= projet.name %></a>
            </li>
        <% } %>
        </ul>
    <% } %>
</body>
</html>