.button-jump {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  width: 40px;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-jump:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-jump:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-jump:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
.button {
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    height:fill-content;
}
.button1 {
    background-color: white; 
    color: black; 
}
.button1:hover {
    background-color: #00ff99;
    color: white;
}
a {
    color: black;
    text-decoration: none;
}

#acceuil {
    position:absolute;
    top: 10px;
    left: 10px;
}
#download {
    position:absolute;
    top: 10px;
    left: 55px;
}

#upload {
  position:absolute;
  top: 10px;
  left: 100px;
}

#save {
    position:absolute;
    top: 10px;
    left: 145px;
}


#undo {
    position: absolute;
    top: 95px;
    width: 40px;
    height: 30px;
}
  
#redo {
    position: absolute;
    top: 95px;
    left:50px;
    width: 40px;
    height: 30px;
}
#reset {
    position: absolute;
    top: 95px;
    left: 92px;
    width: 40px;
    height: 30px;
}
#animate {
    position: absolute;
    top: 440px;
    left:50px;
    width: 40px;
    height: 40px;
}
  
#line-grid {
    position:absolute;
    top:150px;
}
  
#point-grid{
    position:absolute;
    top:150px;
    left: 48px;
}
  
#point-line-grid {
    position:absolute;
    top:150px;
    left: 88px;
}
#logout {
  position:absolute;
    top: 10px;
    left: 270px;
    width: 60px;
    height: 40px;
}
  
.icon {
    width: 24px;
    height: 24px;
}

#line-grid-tip{
  width: 60px;
  left: 58px;
}
#line-grid-tip::after {
  left: 20px;
}

#point-grid-tip{
  width: 70px;
  left: 43px;
}

#pointLine-grid-tip{
  width: 100px;
  left: 28px;
}

#acceuil-tip{
  width: 60px;
  left: 58px;
}

#download-tip{
  width: 80px;
  left: 48px;
}

#upload-tip{
  width: 80px;
  left: 48px;
}

#save-tip{
  width: 90px;
  left: 43px;
}

#logout-tip{
  width: 100px;
  left: 50px;
}

#undo-tip{
  width: 60px;
  left: 58px;
}

#undo-tip::after {
  left: 20px;
}

#redo-tip{
  width: 60px;
  left: 48px;
}
#reset-tip{
  width: 90px;
  left: 33px;
}

#animation-tip{
  width: 120px;
  left: 18px;
}

/*https://www.w3schools.com/howto/howto_css_tooltip.asp*/
.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
}

.tooltip::after {
  content: "";
  position: absolute;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  left: 50%;
}


.top {
  bottom: 125%;
}

.top::after {
  top: 100%;
  border-color: #555 transparent transparent transparent;
}

.bottom {
  top: 125%;
}

.bottom::after {
  bottom: 100%;
  border-color: transparent transparent #555 transparent;
}
